@model OrderDetailsViewModel

@{
  ViewData["Title"] = "Order Details";
}

<div class="row">
  <h4>Number: @Model.Order.Number</h4>
</div>
<div class="row">
  <h4>Date: @Model.Order.Date </h4>
</div>
<div class="row">
  <h4>Provider: @Model.Order.ProviderName </h4>
</div>

<div class="row">
  <div class="col">
    <a asp-controller="Item" asp-action="CreateItem" asp-route-id="@Model.Order.Id" class="btn btn-primary">Add
      Item</a>
  </div>
  <div class="col">
    <a asp-action="Edit" asp-route-id="@Model.Order.Id" class="btn btn-primary">Edit</a>
  </div>
  <div class="col">
    <a asp-action="Delete" asp-route-id="@Model.Order.Id" class="btn btn-danger">Delete</a>
  </div>
  <div class="col">
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Order.Items)
    {
      <tr>
        <td>@item.Name</td>
        <td>@item.Quantity</td>
        <td>@item.Unit</td>
        <td scope="col-1">
          <a asp-controller="Item" asp-action="EditItem" asp-route-id="@item.Id" class="btn btn-primary w-100">Edit</a>
        </td>
        <td>
          <a asp-controller="Item" asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger w-100">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
