@model IndexOrderViewModel

@{
  ViewData["Title"] = "Index";
}

<p>
  <a asp-controller="Order" asp-action="Create" class="btn btn-primary">Create New Order</a>
</p>

<form asp-action="Index" method="post">
  <div class="row">

    <div class="col">
      <input asp-for="SortNumber" class="form-control" placeholder="order number" />
    </div>

    <div class="col">
      <input asp-for="StartSortDate" class="form-control" />
    </div>

    <div class="col">
      <input asp-for="EndSortDate" class="form-control" />
    </div>

    <div class="col">
      <select asp-for="ProviderId" class="form-select" asp-items="@Model.Providers"></select>
    </div>

    <div class="col">
      <input type="submit" value="Filter" class="btn btn-primary w-100" />
    </div>

    <div class="col">
      <a asp-action="Index" class="btn btn-primary w-100">Reset Filter</a>
    </div>

  </div>
</form>

<table class="table table-light table-hover">

  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Provider</th>
      <th scope="col">Items</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    @for (int i = 0; i < Model.Orders.Length; i++)
    {
      <tr>
        <td>@Model.Orders[i].Number</td>
        <td>@Model.Orders[i].Date</td>
        <td>@Model.Orders[i].ProviderName</td>
        <td>@Model.Orders[i].Items.Length</td>
        <td>
          <a asp-action="Details" asp-route-id="@Model.Orders[i].Id" class="btn btn-outline-primary w-100">Details</a>
        </td>
      </tr>
    }
  </tbody>

</table>