@model IndexPageModel

@{
  ViewData["Title"] = "Index";
}

<form asp-action="Index" method="post">

  <div class="row">

    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input asp-for="IsSortNumber" class="form-check-input mt-0" type="checkbox">
        </div>
        <span class="input-group-text">Number</span>
        <input asp-for="SortNumber" type="text" class="form-control" />
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input asp-for="IsSortDay" class="form-check-input mt-0" type="checkbox">
        </div>
        <span class="input-group-text">Date</span>
        <input asp-for="StartSortDate" class="form-control" />
        <input asp-for="EndSortDate" class="form-control" />
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input asp-for="IsSortProvider" class="form-check-input mt-0" type="checkbox">
        </div>
        <span class="input-group-text">Provider</span>
        <select asp-for="ProviderId" class="form-select" asp-items="@Model.SelectProviders"></select>
      </div>
    </div>

    <div class="row">
      <div class="col m-3">
        <a asp-controller="Order" asp-action="Create" class="btn btn-primary w-100">Create New Order</a>
      </div>
      <div class="col m-3">
        <input type="submit" value="Filter" class="btn btn-primary w-100" />
      </div>
      <div class="col m-3">
        <a asp-action="Index" class="btn btn-primary w-100">Reset Filter</a>
      </div>
    </div>

</form>

@if (Model.Orders == null)
{
  <div class="row text-center">
    <div class="col">
      <h4>No orders</h4>
    </div>
  </div>
}
else
{
  <table class="table table-light table-hover">

    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Date</th>
        <th scope="col">Provider</th>
        <th scope="col">Items</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      @foreach (var item in Model.Orders)
      {
        <tr>
          <td>@item.Number</td>
          <td>@item.Date</td>
          <td>@item.ProviderName</td>
          <td>@item.Items.Length</td>
          <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary w-100">Details</a>
          </td>
        </tr>
      }
    </tbody>

  </table>
}