@model asu_management.mvc.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Order: @Model.Number from @Model.Date</h1>

@if (Model != null)
{
    @foreach (var item in Model.Items)
    {
        <div>
            <h5>@item.Name</h5>
            <h5>@item.Quantity</h5>
            <h5>@item.Unit</h5>
        </div>
    }
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>