@model asu_management.mvc.ViewModels.OrderViewModel

@{
  ViewData["Title"] = "Index";
}

<p>
  <a asp-action="Create" class="btn btn-primary">Create New Order</a>
</p>

<form asp-action="SortOrders" method="post">
  <div class="row">

    <div class="col">
      <input asp-for="Number" class="form-control" placeholder="order number" />
    </div>

    <div class="col">
      <input asp-for="StartSortDate" class="form-control" />
    </div>

    <div class="col">
      <input asp-for="EndSortDate" class="form-control" />
    </div>

    <div class="col">
      <select asp-for="Provider.Id" class="form-select" asp-items="@Model.Providers"></select>
    </div>

    <div class="col">
      <input type="submit" value="Filter" class="btn btn-primary w-100" />
    </div>

    <div class="col">
      <a asp-action="Index" class="btn btn-primary w-100">Reset Filter</a>
    </div>

  </div>
</form>

<table class="table table-light table-hover">

  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Provider</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    @foreach (var item in Model.Orders)
    {
      <tr>
          <td>@item.Number</td>
          <td>@item.Date</td>
          <td>@item.Provider.Name</td>
          <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary w-100">Details</a>
          </td>
      </tr>
    }
  </tbody>

</table>