@model List<asu_management.mvc.Data.Order>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Provider</th>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if (Model != null)
    {
      @foreach (var order in Model)
      {
        <tr class="table-dark">
          <td>@order.ProviderId</td>
          <td>@order.Date</td>
          <td>@order.Number</td>
          <td>
            <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@order.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
          </td>
        </tr>
      }
    }
    else
    {
      <h4>No orders</h4>
    }
  </tbody>
</table>